<?xml version="1.0"?>

<launch>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/camera/depth/points"/>
        <remap from="scan" to="/camera/scan"/>

        <rosparam command="load" file="$(find project)/slam/config/cloud_to_laser.yaml"/>
    </node>
</launch>