<?xml version="1.0"?>

<launch>
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <rosparam command="load" file="$(find project)/slam/config/depth_to_laser.yaml"/>
        <remap from="image" to="/camera/depth/image_raw"/>
        <remap from="camera_info" to="/camera/depth/camera_info"/>
        <remap from="scan" to="/depth_to_laser_scan"/>
    </node>
</launch>