<?xml version="1.0"?>
<launch>
    <arg name="model" default="robot.urdf.xacro"/>
    <arg name="gui" default="False"/>

    <!-- ROBOT DESCRIPTION IS A REQUIRED PARAMETER AND USING THE XACRO COMMAND BECAUSE WE ARE USING THE XACRO FORMAT-->
    <param name="robot_description" command="xacro '$(find project)/urdf/$(arg model)'" />
    <param name="use_gui" value="$(arg gui)"/>

    <!-- SENDING JOINT VALUES-->
    <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher"/>

    <!-- COMBINE JOINT VALUES-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <!-- RUNNING THE RVIZ NODE-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project)/urdf.rviz" required="true" ns="/robot"/>
</launch>